In [26]:
import pymysql

In [27]:
path = os.path.dirname(os.getcwd())
sep = os.sep
curr_path = path + sep + "utils" + sep + "folders_tb" + sep
curr_path

'c:\\Users\\Karina\\Desktop\\data_science_apr_2021\\machine_learning_project\\project\\src\\utils\\folders_tb\\'

In [29]:
import utils.folders_tb as fo
import utils.sql_tb as sq

In [30]:
#from json import read_json_to_dict
import pandas as pd
from sqlalchemy import create_engine
import sys, os

## Data Upload

In [32]:
# Load server setting into variables

json_readed = read_json_to_dict("sql_server_settings.json")
IP_DNS = read_json["IP_DNS"]
USER = read_json["USER"]
PASSWORD = read_json["PASSWORD"]
DB_NAME = read_json["DB_NAME"]
PORT = read_json["PORT"]

NameError: name 'read_json_to_dict' is not defined

## SQL Connection

In [ ]:
# Connection with the database
sql_db = sq.MySQL(IP_DNS, USER, PASSWORD, DB_NAME, PORT)
sql_db.connect()

In [ ]:
# Close connection
sql_db.close()